body {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
}

div#titulot{

    position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
div#botonl{
	
	position: absolute;
  	top: 70%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	
}

table.listados{
	
	position: absolute;
  	top: 70%;
  	left: 50%;
  	transform: translate(-50%, -50%);

}

div#body2{
	
	background: #56ab2f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 40px 0;
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
	border-radius:10px
}

h1 {
    text-align: center;
    font-family: "Lucida Console";
    font-size: 30px;
}
h3{
text-align: center;
color: black;
font-size: 30px;
font-family: "Courier New";
}
/* estilo login*/

table.regitro {
    width: 30%;
    margin: auto;
	padding: 15px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.regitro1 {
  width: 100%;


}
/* Full-width inputs */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}
button.signupbtn {
    display: block;
    margin:auto;
    width: 100%;
    height: 60px;
    font-size: 25px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}
/* Set a style for all buttons */
button {
  background-color:#9FDB28;
  color: black;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 10px;
  border: 1px solid black;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/*fin estilo login
.cuadro-ventas {
    display: none !important;
}

.logged-in .cuadro-ventas {
    display: block !important;
}*/
		.navbar-nav1>li {
    margin: 0em 0px 3px 0;
    padding: 0px 0px;
    width: 10%;
    display: inline-block;
}
/*#navbarResponsive{
    overflow: auto;
    white-space: nowrap;
  }*/
.navbar-nav1>li.capa{width: 16%;}

.navbar-nav1>li a {
    border: 1px solid black;
    color: black;
    padding: 5%;
    margin: 0px auto;
    float: left;
    text-align: center;
    width: 100%;
    background: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
  	font-size:1.1vw;
}
.navbar-nav1>li a:hover{
    background: #fff;
    color:#555;
}
    
.navbar-nav1>li>a>span {
    font-size: 26px;
    vertical-align: bottom;
    padding: 0 6px 0 0
}
.navbar-nav1 {
    margin: -1em 0em 0em;
    list-style: none;
    width: 100%;
    bottom: 0px;
    display:inline;
}
@media only screen and (max-width: 768px){
.navbar-nav1>li {
    width: 24%; }
  .navbar-nav1>li a{font-size:2vw;}
}
@media only screen and (max-width: 479px){
.navbar-nav1>li {
    width: 32%; }
  .navbar-nav1>li a {font-size: 3vw;}
}
.page-id-335 .oculto {height: 0;
    overflow-y: hidden;
    position: relative;
    width: 100%  !important;
    margin: auto;}
    
.oculto {
    height: 0;
    overflow-y: hidden;
    position: relative;
    width: 65%;
    margin: auto;
}
.oculto h5{
    margin: 0rem auto 1.3rem;
    color:#fff;
}
.boton-volver {
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: #555;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
}
.boton-volver:hover {
    background-color: #ccc;
}
.boton-volver img {
    width: 1.5vw; 
    filter: invert(1);
}

div#navbarResponsive{
    margin-left: 20%;
}
table.Usuarios {
    width: 90%; 
    margin: aoto;
	padding: auto;
	border-spacing: 10px;
}
table.ventas {
    width: 90%; 
}
table.ventas2 {
    width: 90%;
    padding-left: 30px;
}
table.totalventas {
    float: right;
    margin-right: 121px;
}

table.Clientes {
	width: 90%; 
    margin: aoto;
	padding: auto;
	border-spacing: 10px;
}

table.proveedores {
	width: 90%; 
    margin: aoto;
	padding: auto;
	border-spacing: 10px;
}

table.productos {
	width: 90%; 
    margin: aoto;
	padding: auto;
	
}

button.consultaVentas {
    width: 100%;
}
.botones {
    margin-left: 9%;
}
